:root {
  --primary: rgba(17, 19, 33, 1);
  --primary-background: rgba(244, 244, 244, 1);
  --second-background: rgba(46, 46, 46, 1);
  --second: rgba(68, 64, 246, 1);
  --third: rgba(168, 168, 168, 1);
}
