:root {
  --primary: #111321;
  --primary-background: #f4f4f4;
  --second-background: #2e2e2e;
  --second: #4440f6;
  --third: #a8a8a8;
  --few: #4b48db;
  --transpar-first: rgb(244, 244, 244, 0.2);
  --transpar-second: rgb(0, 0, 0, 0.2);
}
