@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

svg {
  display: block;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
