.favorite-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
  @media (max-width: 319px) {
    gap: 10px;
  }
  @media (min-width: 320px) {
    gap: 28px;
  }

  @media (min-width: 768px) {
    gap: 30px;
  }
  @media (min-width: 1280px) {
    gap: 40px 31px;
  }

  &__item {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media (max-width: 319px) {
      width: auto;
    }
    @media (min-width: 320px) {
      width: 288px;
    }
    @media (min-width: 768px) {
      width: 353px;
      // height: 675px;
    }
    @media (min-width: 1280px) {
      width: 395px;
      // height: 675px;
    }
  }

  &__image-link {
    position: relative;
    // width: 288px;
    // height: 293px;
    overflow: hidden;
    @media (max-width: 319px) {
      width: auto;
    }
    @media (min-width: 320px) {
      width: 288px;
      height: 192px;
    }
    @media (min-width: 768px) {
      width: 353px;
      height: 235px;
    }
    @media (min-width: 1280px) {
      width: 395px;
      height: 263px;
    }
  }

  &__img {
    // max-width: none;
    border-radius: 4px;
    // width: 395px;
    // height: 395px;
    background: no-repeat, cover;
  }

  &__category {
    position: absolute;
    top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    text-align: center;
    color: var(--primary-background);

    width: 112px;
    height: 24px;
    background-color: rgba(68, 64, 247, 0.7);
  }

  &__add-btn {
    position: absolute;
    right: 12px;
    bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    width: 126px;
    height: 28px;
    background: var(--primary-background);
    border-radius: 20px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    border: 0;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    text-align: center;
    // color: var(--primary);
  }

  &__remove-btn {
    position: absolute;
    right: 12px;
    bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    width: 168px;
    height: 28px;
    background: var(--primary-background);
    border-radius: 20px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    border: 0;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    text-align: center;
    // color: var(--primary);
  }

  &__heart-full-icon {
    width: 16px;
    height: 16px;
    fill: rgb(255, 255, 255);
  }

  &__heart-icon {
    width: 16px;
    height: 16px;
    fill: var(--second);
  }

  &__news-title {
    font-size: 24px;
    @media (max-width: 319px) {
      width: auto;
    }
    @media (min-width: 320px) {
      width: 288px;
    }
    @media (min-width: 768px) {
      width: 353px;
      // height: 132px;
      font-size: 32px;
    }
    @media (min-width: 1280px) {
      width: 353px;
      // height: 132px;
      font-size: 32px;
    }

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: -0.01em;
    // color: var(--primary);
  }

  &__dicription {
    margin-top: auto;
    // width: 288px;
    // height: 57px;
    font-size: 14px;
    line-height: 1.36;
    @media (max-width: 319px) {
      width: auto;
    }
    @media (min-width: 320px) {
      width: 288px;
    }
    @media (min-width: 768px) {
      width: 353px;
      // height: 66px;
      font-size: 16px;
      line-height: 1.38;
    }
    @media (min-width: 1280px) {
      width: 353px;
      // height: 66px;
      font-size: 16px;
      line-height: 1.38;
    }

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;

    // color: var(--primary);
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
  }

  &__date {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;

    color: var(--third);
    font-size: 14px;
    line-height: 1.36;

    @media (min-width: 768px) {
      font-size: 16px;
      line-height: 1.38;
    }
    @media (min-width: 1280px) {
      font-size: 16px;
      line-height: 1.38;
    }
  }

  &__link {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.36;

    @media (min-width: 768px) {
      font-size: 16px;
      line-height: 1.38;
    }
    @media (min-width: 1280px) {
      font-size: 16px;
      line-height: 1.38;
      margin-right: 26px;
    }

    color: var(--second);
  }
}
.pgntn-cont {
  // height: 60px;
  @media (max-width: 319px) {
    height: auto;
  }
  @media (min-width: 320px) {
    height: 60px;
  }
  @media (min-width: 768px) {
    height: 100px;
  }
  @media (min-width: 1280px) {
    height: 300px;
  }
}

.footer__container {
  // width: 320px;

  background-color: #7a7a7a;
  height: 120px;
  @media (min-width: 768px) {
    // width: 768px;
    height: 146px;
  }
  @media (min-width: 1280px) {
    // width: 1280px;
    height: 146px;
  }
}
.img__hidden {
  display: none;
}

.not-found__img {
  @media (max-width: 319px) {
    width: auto;
  }
  @media (min-width: 320px) {
    width: 248px;
  }
  // width: 248px;
  // height: 198px;
  margin: 0 auto 40px;
  @media (min-width: 768px) {
    width: 560px;
    // height: 444px;
    margin: 0 auto 48px;
  }
  @media (min-width: 1280px) {
    width: 601px;
    // height: 478px;
    margin: 0 auto 60px;
  }
}
