*,
*::before,
*::after {
  // outline: 1px solid rgb(250, 195, 175);
  // background-color: rgba(0, 255, 106, 0.1);
  margin: 0;
}
header {
  position: relative;
}

a {
  color: var(--primary);
  text-decoration: none;
}

header {
  border-bottom: 1px solid var(--transpar-second);
}

.header {
  display: flex;
  align-items: center;
  padding-top: 0;
}
.logo {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: var(--primary);
  padding: 24px 0 24px;
  margin-right: auto;

  @media (min-width: 768px) {
    padding: 32px 0 28px;
    font-size: 32px;
    line-height: 44px;
    margin-right: 0;
  }
  @media (min-width: 1280px) {
    padding: 28px 0;
    font-size: 42px;
    line-height: 57px;
    margin-right: 0;
  }
}
.menu_container {
  display: none;
  @media (min-width: 768px) {
    display: block;
    margin: 0 auto 0 48px;
  }
  @media (min-width: 1280px) {
    margin: 0 auto 0 102px;
  }
}
.menu_list {
  display: flex;
  align-items: center;
  @media (min-width: 768px) {
    gap: 44px;
  }
  @media (min-width: 1280px) {
    gap: 69px;
  }
}

.menu_link {
  display: block;
  padding: 8px 0;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: var(--primary);
  @media (min-width: 1280px) {
    padding: 5px 0;
    font-size: 18px;
    line-height: 25px;
  }
}
.search_container {
  position: relative;
  margin-right: 24px;
  @media (min-width: 1280px) {
    margin-right: 147px;
  }
}
.search-box::placeholder {
  @media (max-width: 768px) {
    color: transparent;
    content: '';
  }
}

.search-box {
  // display: none;
  // transition-property: visibility width padding-left;

  @media (max-width: 319px) {
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.59, -0.01, 0.4, 0.99);
    display: block;
    opacity: 100%;
    border-radius: 55px;
    border-color: black;
    max-width: 100px;
    height: 31px;
    padding-left: 30px;
  }

  @media (min-width: 320px) {
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.59, -0.01, 0.4, 0.99);
    display: block;
    opacity: 100%;
    border-radius: 55px;
    border-color: black;
    width: 173px;
    height: 31px;
    padding-left: 48px;
  }
  @media (min-width: 768px) {
    width: 213px;
  }
  @media (min-width: 1280px) {
    width: 288px;
  }
}

.search-box-short {
  width: 0;
  padding-left: 0;
  // visibility: hidden;
  opacity: 0;
  @media (min-width: 768px) {
    width: 213px;
    padding-left: 48px;
    opacity: 100%;
  }
  @media (min-width: 1280px) {
    width: 288px;
  }
}

.search {
  position: absolute;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.59, -0.01, 0.4, 0.99);

  top: 6px;
  left: 12px;
  width: 20px;
  height: 20px;
}

.search-icon-move {
  // fill: #fff;
  left: 0px;
  @media (min-width: 768px) {
    left: 12px;
  }
}

.search-icon-move-black {
  fill: black;
}
.search-icon-move-wight {
  fill: #fff;
}

.btn-menu {
  padding: 0;
  border: none;
  display: block;
  @media (min-width: 768px) {
    display: none;
  }
}
.menu-icon {
  width: 24px;
  height: 24px;
  @media (min-width: 768px) {
    display: none;
  }
}

.toggle_container {
  display: none;
  @media (min-width: 768px) {
    display: block;
  }
}
.toggle {
  display: flex;
  align-items: center;
}
.dark-border {
  border-bottom: 1px solid var(--transpar-first);
}
.theme__icon {
  display: block;
  @media (min-width: 1280px) {
    display: none;
  }
}
.active {
  border-bottom: 2px solid var(--second);
}

.menu_link.color-switch {
  color: var(--primary-background);
}

.menu_link:hover {
  cursor: pointer;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-left: 12px;
  margin-right: 12px;
}

.light {
  color: var(--second);
  stroke: var(--second);
}

.dark {
  color: rgb(95, 103, 117);
}

.visab__text {
  display: none;
  @media (min-width: 1280px) {
    display: block;
  }
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--primary-background);
  border: 1px solid var(--second);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 1px;
  background-color: var(--second);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--second);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--few);
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
  background-color: var(--primary-background);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.btn-menu {
  display: flex;
  background: none;
  border: none;
}

// ========== Mob Menu ============

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  @media (min-width: 768px) {
    opacity: 0;
    visibility: 0;
    pointer-events: none;
  }
  background-color: rgba(0, 0, 0, 0.2);
  &.is-hidden {
    opacity: 0;
    visibility: 0;
    pointer-events: none;
  }
}

.mob-menu {
  position: absolute;
  top: 0;
  left: 50%;
  width: 320px;
  height: 568px;
  padding: 0 16px 18px;
  transform: translate(-50%);
  background-color: var(--primary-background);
  @media (min-width: 768px) {
    opacity: 0;
    visibility: 0;
    pointer-events: none;
  }
  &__header {
    display: flex;
    align-items: center;
  }
  &__close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    // background-color: var(--primary-background);
  }

  &__list {
    margin-top: 44px;
  }
  &__item {
    display: flex;
    align-items: center;
    height: 44px;
  }

  &__link {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: var(--primary);
  }
  &__icon {
    width: 32px;
    height: 32px;
    fill: var(--second);
    margin-right: 14px;
  }
  &__icon-arrow {
    width: 24px;
    height: 24px;
    margin-left: auto;
  }

  &__active-item {
    background-color: var(--second);
    color: var(--primary-background);
  }
  &__toggle {
    margin-top: 273px;
  }
}

.mob-swicher {
  @media (max-width: 767px) {
    display: block;
    position: absolute;
    z-index: 2;
    top: 529px;
  }
}
