.pagination {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 60px;
  margin-top: 40px;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  text-align: left;
  background-color: var(--bg-color);

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    height: 31px;
    margin-bottom: 100px;
    margin-top: 48px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 150px;
    margin-top: 60px;
  }
};
.pagination-js {
  display: none;
}


.pagination__prev-btn,
.pagination__next-btn {
  background-color: #F4F4F4;
  width: 72px;
    height: 28px;
    border: 1px solid #4440f6;
    border-radius: 2px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
          width: 82px;
            height: 31px;
            cursor: pointer;
      }
    
      @media screen and (min-width: 1200px) {
          width: 82px;
            height: 31px;
            cursor: pointer;
      }
    
};


.btn-left,
.btn-right {
  font-family: Manrope;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        font-family: Manrope;
          font-size: 14px;
          font-weight: 500;
          line-height: 19px;
      }
    
      @media screen and (min-width: 1200px) {
      font-family: Manrope;
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
      }
};

.pagination__list {
  display: flex;
  align-items: center;
};

.pagination__page-link {
  
  margin-left: 10px;
  margin-right: 10px;
    height: 28px;
    width: 28px;
    border: 1px solid;
    border-radius: 2px;
    border-color: #4440f6;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-left: 8px;
        margin-right: 8px;
          height: 31px;
          width: 33px;
          cursor: pointer
      }
    
      @media screen and (min-width: 1200px) {
      margin-left: 8px;
        margin-right: 8px;
          height: 31px;
          width: 33px;
          cursor: pointer
      }
    
};

.pagination__page-link.active {
  background: #4440F7;
    border: 1px solid #4440F6;
    border-radius: 2px;
};

.pagination__page-link:hover {
  background-color: #4440F6;
  color: #F4F4F4;
}

.pagination__page-link:hover a {
  color: #F4F4F4;
  background-color: #4440F6;
};
.pagination__page-link:focus {
  background-color: #4440F6;
  color: #F4F4F4;
}
.pagination__page-link:focus a {
  color: #F4F4F4;
  background-color: #4440F6;
}

;
.clk-btn-card {
  color: #111321;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.pagination__page-link.active a.clk-btn-card {
  color: #F4F4F4;
}
.pagination__prev-btn:hover,
.pagination__next-btn:hover {
  background-color: #4440F6;
  color: #F4F4F4;
}

.pagination__prev-btn:disabled,
.pagination__next-btn:disabled {
  cursor: not-allowed;
}
/*testGit1*/