.pagination {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 60px;
  margin-top: 40px;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  text-align: left;
  background-color: var(--bg-color);

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    height: 31px;
    margin-bottom: 100px;
    margin-top: 48px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 150px;
    margin-top: 60px;
  }
};


.pagination__prev-btn,
.pagination__next-btn {
 width: 72px;
 border: 1px solid;
 border-color: #4440F6;
 border-radius: 2px;
};


.btn-left,
.btn-right {
  font-family: Manrope;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
};
.pagination__list {
  display: flex;
  align-items: center;
};

.pagination__page-link {
  list-style: none;
  cursor: pointer;
  overflow: hidden;
  margin: 0 4px;
};

.pagination__page-link.active {
  background-color: #4440F6;
};

.pagination__page-link.active a {
  color: #F4F4F4;
};

.pagination__page-link.active a {
  text-decoration: none;
  padding: 4px auto;
  display: inline-block;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  pointer-events: none;
  color: #111321;
}

.pagination__page-link:hover {
  background-color: #4440F6;
}

.pagination__page-link:hover a {
  color: #F4F4F4;
  background-color: #4440F6;
};