.favorite-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 28px;

  @media (min-width: 768px) {
    gap: 30px;
  }
  @media (min-width: 1280px) {
    gap: 40px 31px;
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 288px;
    height: 630px;

    @media (min-width: 768px) {
      width: 353px;
      height: 675px;
    }
    @media (min-width: 1280px) {
      width: 395px;
      height: 675px;
    }
  }

  &__image-cont {
    position: relative;
    width: 288px;
    height: 395px;
    overflow: hidden;

    @media (min-width: 768px) {
      width: 353px;
      height: 395px;
    }
    @media (min-width: 1280px) {
      width: 395px;
      height: 395px;
    }
  }

  &__img {
    max-width: none;
    background-size: cover;
    border-radius: 4px;
    background: no-repeat, cover, left top;

    height: 395px;
  }

  &__job-src {
    position: absolute;
    top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    text-align: center;
    color: var(--primary-background);

    width: 112px;
    height: 24px;
    background-color: rgba(68, 64, 247, 0.7);
  }

  &__remove-btn {
    position: absolute;
    right: 12px;
    bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    width: 168px;
    height: 28px;
    background: var(--primary-background);
    border-radius: 20px;
    border: 0;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    text-align: center;
    color: var(--primary);
  }

  &__heart-icon {
    width: 16px;
    height: 16px;
  }

  &__news-title {
    width: 288px;
    height: 99px;
    font-size: 24px;

    @media (min-width: 768px) {
      width: 353px;
      height: 132px;
      font-size: 32px;
    }
    @media (min-width: 1280px) {
      width: 353px;
      height: 132px;
      font-size: 32px;
    }

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: -0.01em;
    color: var(--primary);
  }

  &__dicription {
    width: 288px;
    height: 57px;
    font-size: 14px;
    line-height: 1.36;

    @media (min-width: 768px) {
      width: 353px;
      height: 66px;
      font-size: 16px;
      line-height: 1.38;
    }
    @media (min-width: 1280px) {
      width: 353px;
      height: 66px;
      font-size: 16px;
      line-height: 1.38;
    }

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;

    color: var(--primary);
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
  }

  &__date {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;

    color: var(--third);
    font-size: 14px;
    line-height: 1.36;

    @media (min-width: 768px) {
      font-size: 16px;
      line-height: 1.38;
    }
    @media (min-width: 1280px) {
      font-size: 16px;
      line-height: 1.38;
    }
  }

  &__link {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.36;

    @media (min-width: 768px) {
      font-size: 16px;
      line-height: 1.38;
    }
    @media (min-width: 1280px) {
      font-size: 16px;
      line-height: 1.38;
      margin-right: 26px;
    }

    color: var(--second);
  }
}
.pgntn-cont {
  height: 60px;

  @media (min-width: 768px) {
    height: 100px;
  }
  @media (min-width: 1280px) {
    height: 300px;
  }
}
