<section class="container section categories">
        <!-- Categories -->



        <!-- Calendar -->
        <p class="calendar__title">Search date news</p>
        <input type="text" class="calendar__input" />
        <!-- <svg class="calendar__icon">
    <use href="/src/img/calendar.svg"></use>
  </svg> -->
        <!-- <div class="calendar__box">
    <ul class="week">
      <li class="week__day">Mo</li>
      <li class="week__day">Tu</li>
      <li class="week__day">We</li>
      <li class="week__day">Th</li>
      <li class="week__day">Fr</li>
      <li class="week__day">Sa</li>
      <li class="week__day">Su</li>
    </ul>
    <ul class="calendar__days"></ul>
  </div> -->
</section>