<!-- <a href="./index.html">News</a> -->
<section class="section" id="favorite-galery-section">
  <svg class="favorite-cards__heart-icon img__hidden" width="32" height="32">
    <use href="./images/sprite-full.svg#heart-full"></use>
  </svg>
  <ul class="favorite-cards" id="favorite-list"></ul>
  <div class="pgntn-cont"></div>
  <img
    class="favorite-cards__img img__hidden"
    src="./images/image-not-found.jpg"
    alt="Something went wrong"
  />
</section>
<footer class="footer">
  <div class="footer__container"></div>
</footer>
