<!-- <a href="./index.html">News</a> -->
<section class="section">
  <ul class="favorite-cards">
    <li class="favorite-cards__item">
      <div class="favorite-cards__image-cont" href="">
        <img
          class="favorite-cards__img"
          src="./images/asia-businesswoman.jpg"
          alt="asia-businesswoman"
        />
        <p class="favorite-cards__job-src">Job searching</p>
        <button class="favorite-cards__remove-btn">
          Remove from favorite
          <svg class="favorite-cards__heart-icon" width="32" height="32">
            <use href="images/sprite-full.svg#heart-full"></use>
          </svg>
        </button>
      </div>
      <h2 class="favorite-cards__news-title">
        8 tips for passing an online interview that will help you get a job
      </h2>
      <p class="favorite-cards__dicription">
        Before you start looking for a job, it is useful to familiarize yourself
        with the job prospects offered by these...
      </p>
      <div class="favorite-cards__bottom">
        <p class="favorite-cards__date">20/02/2021</p>
        <a class="favorite-cards__link" href="">Read more</a>
      </div>
    </li>
    <li class="favorite-cards__item">
      <div class="favorite-cards__image-cont" href="">
        <img
          class="favorite-cards__img"
          src="./images/asia-businesswoman.jpg"
          alt="asia-businesswoman"
        />
        <p class="favorite-cards__job-src">Job searching</p>
        <button class="favorite-cards__remove-btn">
          Remove from favorite
          <svg class="favorite-cards__heart-icon" width="32" height="32">
            <use href="images/sprite-full.svg#heart-full"></use>
          </svg>
        </button>
      </div>
      <h2 class="favorite-cards__news-title">
        8 tips for passing an online interview that will help you get a job
      </h2>
      <p class="favorite-cards__dicription">
        Before you start looking for a job, it is useful to familiarize yourself
        with the job prospects offered by these...
      </p>
      <div class="favorite-cards__bottom">
        <p class="favorite-cards__date">20/02/2021</p>
        <a class="favorite-cards__link" href="">Read more</a>
      </div>
    </li>
    <li class="favorite-cards__item">
      <div class="favorite-cards__image-cont" href="">
        <img
          class="favorite-cards__img"
          src="./images/asia-businesswoman.jpg"
          alt="asia-businesswoman"
        />
        <p class="favorite-cards__job-src">Job searching</p>
        <button class="favorite-cards__remove-btn">
          Remove from favorite
          <svg class="favorite-cards__heart-icon" width="32" height="32">
            <use href="images/sprite-full.svg#heart-full"></use>
          </svg>
        </button>
      </div>
      <h2 class="favorite-cards__news-title">
        8 tips for passing an online interview that will help you get a job
      </h2>
      <p class="favorite-cards__dicription">
        Before you start looking for a job, it is useful to familiarize yourself
        with the job prospects offered by these...
      </p>
      <div class="favorite-cards__bottom">
        <p class="favorite-cards__date">20/02/2021</p>
        <a class="favorite-cards__link" href="">Read more</a>
      </div>
    </li>
    <li class="favorite-cards__item">
      <div class="favorite-cards__image-cont" href="">
        <img
          class="favorite-cards__img"
          src="./images/asia-businesswoman.jpg"
          alt="asia-businesswoman"
        />
        <p class="favorite-cards__job-src">Job searching</p>
        <button class="favorite-cards__remove-btn">
          Remove from favorite
          <svg class="favorite-cards__heart-icon" width="32" height="32">
            <use href="images/sprite-full.svg#heart-full"></use>
          </svg>
        </button>
      </div>
      <h2 class="favorite-cards__news-title">
        8 tips for passing an online interview that will help you get a job
      </h2>
      <p class="favorite-cards__dicription">
        Before you start looking for a job, it is useful to familiarize yourself
        with the job prospects offered by these...
      </p>
      <div class="favorite-cards__bottom">
        <p class="favorite-cards__date">20/02/2021</p>
        <a class="favorite-cards__link" href="">Read more</a>
      </div>
    </li>
    <li class="favorite-cards__item">
      <div class="favorite-cards__image-cont" href="">
        <img
          class="favorite-cards__img"
          src="./images/asia-businesswoman.jpg"
          alt="asia-businesswoman"
        />
        <p class="favorite-cards__job-src">Job searching</p>
        <button class="favorite-cards__remove-btn">
          Remove from favorite
          <svg class="favorite-cards__heart-icon" width="32" height="32">
            <use href="images/sprite-full.svg#heart-full"></use>
          </svg>
        </button>
      </div>
      <h2 class="favorite-cards__news-title">
        8 tips for passing an online interview that will help you get a job
      </h2>
      <p class="favorite-cards__dicription">
        Before you start looking for a job, it is useful to familiarize yourself
        with the job prospects offered by these...
      </p>
      <div class="favorite-cards__bottom">
        <p class="favorite-cards__date">20/02/2021</p>
        <a class="favorite-cards__link" href="">Read more</a>
      </div>
    </li>
  </ul>
  <div class="pgntn-cont"></div>
</section>
<footer class="footer">
  <div class="footer__container section"></div>
</footer>
