<header>
  <div class="header container">
    <a href="#" class="logo" id="myElement">News</a>
    <div class="menu_container">
      <ul class="menu_list">
        <li>
          <a class="menu_link" id="home-link" href="/src/index.html">Home</a>
        </li>
        <li>
          <a class="menu_link" id="favorite-link" href="/src/favorite.html"
            >Favorite</a
          >
        </li>
        <li>
          <a class="menu_link" id="read-link" href="/src/read.html">Read</a>
        </li>
      </ul>
    </div>
    <div class="search_container">
      <input
        id="search-input"
        type="text"
        class="search-box search-box-short"
        placeholder="Search │"
      />
      <svg
        id="icon-search_desk"
        class="search search-icon-move"
        width="32px"
        height="32px"
      >
        <use href="./images/sprite-full.svg#search"></use>
      </svg>
    </div>
    <button
      class="btn-menu js-open-menu"
      aria-controls="mobile-menu"
      aria-label="open menu"
    >
      <svg class="ionicon shape-codepen menu-icon" width="32" height="32">
        <use href="./images/sprite-full.svg#mob-menu-icon"></use>
      </svg>
    </button>
    <div class="toggle_container">
      <div class="toggle">
        <p class="visab__text light header_background" id="light">Light</p>
        <svg
          id="icon-search_tab"
          class="theme__icon light"
          width="18.67px"
          height="18.67px"
          class="icon-tab"
        >
          <use href="./images/sprite-full.svg#sun" id="light_tab"></use>
        </svg>
        <label class="switch">
          <input type="checkbox" />
          <span class="slider round"></span>
        </label>
        <svg
          id="icon-search_tab"
          class="theme__icon dark"
          width="18.67px"
          height="18.67px"
          class="icon-tab"
        >
          <use href="./images/sprite-full.svg#moon" id="dark_tab"></use>
        </svg>
        <p class="visab__text header_background dark" id="dark">Dark</p>
      </div>
    </div>
  </div>

  <!-- ========== Mob Menu ============ -->

  <div class="backdrop js-menu-container is-hidden">
    <div class="mob-menu">
      <div class="mob-menu__header">
        <a href="#" class="logo mob-logo" id="myElement">News</a>
        <svg class="mob-menu__x js-close-menu" width="24" height="24">
          <use href="./images/sprite-full.svg#icon-close"></use>
        </svg>
      </div>
      <ul class="mob-menu__list">
        <li class="mob-menu__item">
          <a href="/src/index.html" class="mob-menu__link" id="mob-home-link"
            ><svg class="mob-menu__icon" width="18" height="18">
              <use href="./images/sprite-full.svg#icon-home"></use>
            </svg>
            <p class="mob-link-text">Home</p>
            <svg class="mob-menu__icon-arrow" width="18" height="18">
              <use href="./images/sprite-full.svg#icon-arrow-right"></use></svg
          ></a>
        </li>
        <li class="mob-menu__item">
          <a
            href="/src/favorite.html"
            class="mob-menu__link"
            id="mob-favorite-link"
            ><svg class="mob-menu__icon" width="18" height="18">
              <use href="./images/sprite-full.svg#icon-favorite"></use>
            </svg>
            <p class="mob-link-text">Favorite</p>
            <svg class="mob-menu__icon-arrow" width="18" height="18">
              <use href="./images/sprite-full.svg#icon-arrow-right"></use></svg
          ></a>
        </li>
        <li class="mob-menu__item">
          <a href="/src/read.html" class="mob-menu__link" id="mob-read-link"
            ><svg class="mob-menu__icon" width="18" height="18">
              <use href="./images/sprite-full.svg#icon-read"></use>
            </svg>
            <p class="mob-link-text">Read</p>
            <svg class="mob-menu__icon-arrow" width="18" height="18">
              <use href="./images/sprite-full.svg#icon-arrow-right"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
