<header class="header">
  <div class="container header-container">
    <a href="./index.html" class="logo">NEWS</a>
    <nav>
      <ul class="navigation">
        <li class="navigation-item"><a href="./index.html">Home</a></li>
        <li class="navigation-item"><a href="./favorite.html">Favorite</a></li>
        <li class="navigation-item"><a href="./read.html">Read</a></li>
      </ul>
    </nav>
    <form class="search">
      <input type="text" id="search__input" placeholder="Search" />
    </form>
    <div class="theme-switcher">
      <p class="theme-switcher__item">Light</p>
      <label class="switch">
        <input type="checkbox" class="switch-checkbox" />
        <span class="slider round"></span>
      </label>
      <p class="theme-switcher__item">Dark</p>
    </div>
  </div>
</header>