<header>
    <div class='header container'>
        <a href="#" class='logo' id="myElement">News</a>
        <div class="menu_container">
            <ul class='menu_list'>
                <li><a class='menu_link' href="/src/index.html">Home</a></li>
                <li><a class='menu_link' href="/src/favorite.html">Favorite</a></li>
                <li><a class='menu_link' href="/src/read.html">Read</a></li>
            </ul>
        </div>
        <div class="search_container">
            <input type="text" class="search-box" placeholder="Search │">
            <svg id="icon-search_desk" width="16px" height="15px">
                <use href="./images/sprite-full.svg#search" class="search"></use>
            </svg>
        </div>
        <div class="toggle_container">
            <div class="toggle">
                <p class="light header_background" id="light">Light</p>
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
                <p class="header_background dark" id="dark">Dark</p>
            </div>
        </div>
    </div>
</header>