<!-- <a href="./favorite.html">FAVORITE</a> -->
<section class="disappearing disappearing-hidden">
        <p class="disappearing___title">We haven't found news from </br> this category</p>
        <picture >
            <source 
                srcset="./images/news-mob.png 1x, ./images/news-mob@2x.png 2x" 
                type="image/png" 
                media="(max-width: 479.98px)"
                alt="news-picture"/>
            <source 
                srcset="./images/news-tab.png 1x, ./images/news-tab@2x.png 2x" 
                type="image/png" 
                media="(max-width:767.98px)" 
                alt="news-picture"/>
            <source 
                srcset="./images/news-desk.png 1x, ./images/news-desk@2x.png 2x" 
                type="image/png" 
                media="(min-width: 1279.98px)"
                alt="news-picture"/>
            <img 
                class="disappearing___picture"
                src="./images/news-mob.png" 
                alt="news-picture" 
                width="248" 
                height="198"/>
        </picture>
</section>
<footer class="footer">
    <div class="footer__container section"></div>
</footer>